@model project.Areas.Admin.Models.UserAdmin

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<h3>Bạn có chắc là muốn xóa người dùng này không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Họ Tên
        </dt>
        <dd class="col-sm-10">
            @(Model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back</a>
    </form>
</div>