@model IEnumerable<project.ViewModels.ProductVM>

@foreach (var item in Model)
{
    <!-- product -->
    <div class="col-md-3 col-xs-6">
        <div class="product">
            <div class="product-img">
                <img src="@item.imgUrl" alt="">
                <div class="product-label">
                    <span class="sale">-30%</span>
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">@item.CategoryName</p>
                <h3 class="product-name"><a href="#">@item.Name</a></h3>
                <h4 class="product-price">@item.Price.ToString("#,##0") VND</h4>
                <div class="product-rating">
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                    <a asp-action="Product" asp-route-id="@item.Id" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></a>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
            </div>
        </div>
    </div>
    <!-- /product -->
}
<div class="clearfix visible-sm visible-xs"></div>
